* {
  box-sizing: border-box;
}

body {
  min-height: 50vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background-image: url(../images/miscanthus-10807_1920.jpg);
  background-position: 55% 25%;
}

main {
  position: absolute;
  top: 100px;
  width: 700px;
}

.input-container {
  margin-bottom: 50px;
}

.input-container,
.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border-radius: 20px;
  padding: 30px;
}

textarea:focus-visible {
  outline: auto rgba(116, 194, 38, 0.979);
  outline-offset: 2px;
}

.output-text {
  width: 100%;
  min-height: 200px;
  word-break: break-all;
  background-color:rgba(137, 236, 37, 0.979);
  border-radius: 20px;
  padding: 30px;
}

@media (max-width: 1024px)  {
  main {
    top: 50px;
    width: 300px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  main {
    width: 600px;
  }
}

@media (min-width: 280px) and (max-width: 360px) {
  main {
    top: 25px;
    width: 200px;
  }
}
